@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
.contenedor{
	max-width: 1200px;
	margin: auto;
}
header {
	border-bottom: 1px solid #f1f5f9;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #fff;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.header .menu-nav {
	display: flex;
	list-style: none;
	gap: 20px;
}

.menu-responsive {
	display: none;
}

.menu-nav li a {
	text-decoration: none;
	color: #334155;
	font-size: 16px;
	padding: 10px 16px;
	border-radius: 100px;
}

.menu-nav li a:hover {
	background-color: #f1f5f9;
}

.menu-hamburger {
	display: none;
	font-size: 30px;
	color: #374151;
	cursor: pointer;
}

.carrito {
	padding: 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.carrito img {
	width: 30px;
	height: 30px;
}

.carrito .count-products-cart {
	position: absolute;
	background-color: #0ea5e9;
	color: #fff;
	top: 3px;
	right: -1px;
	font-size: 12px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.carrito:hover {
	background-color: #f1f5f9;
}



/*************************************/
/*             NOSOTROS              */
/*************************************/


html{
    box-sizing: border-box;
    font-size: 60.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}

.img-fondo{
background-color: #ffffffd0;
}
img{
    width: 100%;
}
.ve

.velo-negro{
    background-color:rgba(0, 0, 0, 0.5);
}

.contenedor{
    max-width: 150rem;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
}

.logo-img{
    max-width: 40rem;
    margin: 3rem 0;
}


/*CÓDIGO TUTORIAL NÚMERO 4*/
li ul li:hover{
    list-style: none;
 background-color: rgba(255, 55, 55, 0.768);
   
}
.menu_desple{
    display: flex;
   justify-content: center;
   background-color: rgba(255, 55, 55, 0.768);
  
  
}

li ul{
   
    display: none;
}

.menu_desple li a {
    padding: 2rem 7rem;
    text-decoration: none;
    display: block;
  
    
}
.desplegar:hover .sub_me_desple{
    display: block;
  
}
nav li ul{
    position: absolute;
    padding: 0;
}

li ul li{
    list-style: none;
    background-color: rgba(255, 55, 55, 0.768);
 
   
}
li ul li a:hover{
  color:black;
   
}


/***********************************************************/

nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: white;
    
    text-transform: uppercase;
}
nav a:hover{
    color: rgb(0, 0, 0);
    
}

/*CÓDIGO TUTORIAL NÚMERO 4*/
li ul a{
    color: rgb(255, 255, 255);
   
}

/*CÓDIGO TUTORIAL NÚMERO 2*/
.activa{
    color:black
}

.nustros-productos{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.productos{
   display: grid;
   grid-template-columns: repeat(2,1fr);

   
}



.producto{
    border-radius: 0.7rem;/*CÓDIGO TUTORIAL NÚMERO 2*/
    background-color: rgba(255, 55, 55, 0.768);
    margin: 2rem;
    padding: 2rem;
}
.producto:hover{/*CÓDIGO TUTORIAL NÚMERO 2*/
    background-color: rgb(68, 2, 2);
}


.producto-blanco{
    display: flex;/*CÓDIGO TUTORIAL NÚMERO 2*/
    align-items: center;/*CÓDIGO TUTORIAL NÚMERO 2*/
    border-radius: 0.7rem;/*CÓDIGO TUTORIAL NÚMERO 2*/
    background-color: white;
    height: 25rem;
    object-fit: contain;
    padding: 1rem;
}

.producto-precio,
.producto-nombre{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.producto-precio{
    font-size: 2rem;/*CÓDIGO TUTORIAL NÚMERO 2*/
    font-weight: 500;
}
.producto-nombre{
    font-size: 2rem;/*CÓDIGO TUTORIAL NÚMERO 2*/
    font-weight: 800;
}
/*CÓDIGO TUTORIAL NÚMERO 2*/
@media (min-width:768px ) {
    .productos{
     grid-template-columns: repeat(3,1fr);
    }
    .producto-precio{
        font-size: 2rem;
        font-weight: 500;
    }
    .producto-nombre{
        font-size: 2rem;
        font-weight: 800;
    }
   }
 
 @media (min-width:1280px ) {
     .productos{
         grid-template-columns: repeat(4,1fr);
        }
   }
 

/*CÓDIGO TUTORIAL NÚMERO 2*/
.formulario{
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 1rem;
}

/*CÓDIGO TUTORIAL NÚMERO 2*/
.campo{
    margin: 2rem;
}

/*CÓDIGO TUTORIAL NÚMERO 2*/
.campo label{
    display: block;
}
/*CÓDIGO TUTORIAL NÚMERO 2*/
input, textarea{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
/*CÓDIGO TUTORIAL NÚMERO 2*/

input::placeholder, textarea::placeholder{
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*CÓDIGO TUTORIAL NÚMERO 2*/
legend{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*CÓDIGO TUTORIAL NÚMERO 2*/
label{
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: .7rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/*CÓDIGO TUTORIAL NÚMERO 2*/
.boton{
    background-color:rgba(255, 55, 55, 0.768);
    margin-top: 3rem;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 1rem 3rem;
    border-radius: .5rem;
    width: 40%;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    
}




.footer{
    background-color: rgb(255, 255, 255);
    padding: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-align: center;
}

.nosotros{
	padding-top: 100px;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10rem;
margin-bottom: 20rem;

}
.nosotros-texto{
	text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
}

.nosotros-img{
    background-color: rgb(204, 204, 204);
    border-radius: 5%;
}

.bloques{
	padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20rem;
}

.bloques img{
    width: 20rem;
    margin-bottom: 2rem;
    height: 20rem;
}
.bloque-titulo{
    margin:0;
}

.bloque{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
}
.bloque-titulo{
    color: red;
    font-size: 4rem;
    margin: 3rem;
    text-align: center;
    font-weight: 800;
}

.enlace-footer:hover{
    padding-left: 1rem;
    padding-right: 1rem;
}




/* ********************************** */
/*       PRODUCTOS RELACIONADOS       */
/* ********************************** */

.container-productos-relacionados {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 58px 0;
	border-top: 1px solid #e1e1e1;
}

.cards-productos-relacionados {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 30px;
}

.card-producto-relacionado {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 30px;
	cursor: pointer;
	flex: 1;
}

.card-producto-relacionado .image-product {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}

.button-group {
	position: absolute;
	bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 0 10px;
	translate: 0 50px;
	transition: all 0.3s ease-in-out;
}

.btn-add-to-bag,
.btn-quick-view {
	font-family: inherit;
	padding: 8px 16px;
	border: none;
	outline: none;
	border-radius: 500px;
	display: flex;
	align-items: center;
	gap: 5px;
	font-weight: 700;
	font-size: 10px;
	box-shadow: 0 10px 25px #00000040;
}

.btn-add-to-bag {
	background-color: #0f172a;
	color: #fff;
}

.btn-quick-view {
	color: #dadada;
	background-color: #fff;
}

.card-producto-relacionado .image-product:hover .button-group {
	translate: 0;
}

.card-producto-relacionado .image-product img {
	object-fit: cover;
	height: 340px;
	width: 100%;
}

.image-product::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #87aadc;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.1;
}

.card-producto-relacionado .info-product {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.card-producto-relacionado .container-title {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.card-producto-relacionado .container-title h4 {
	font-size: 16px;
	line-height: 24px;
}

.card-producto-relacionado .container-title p {
	font-size: 14px;
	color: #475569;
}

.card-producto-relacionado .container-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-producto-relacionado .container-price span {
	border: 2px solid #22c55e;
	color: #22c55e;
	border-radius: 8px;
	font-size: 14px;
	padding: 6px 10px;
	font-weight: 700;
}

.card-producto-relacionado .container-price p {
	color: #475569;
}

.card-producto-relacionado .container-price p i {
	color: #eab308;
}



/* ********************************** */
/*               FOOTER               */
/* ********************************** */

footer {
	border-top: 1px solid #e1e1e1;
	padding: 100px 0 90px;
}

.footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 70px 1fr;
}

.footer .logo {
	grid-column: 1/2;
	grid-row: 1/2;
}

.container-social {
	grid-row: 2/-1;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.container-social a {
	text-decoration: none;
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 10px;
	text-transform: capitalize;
}


.facebook i {
	color: #4676ed;
}

.instagram i {
	color: #df32b1;
}

.whatsapp i {
	color: #38d36e;
}

.container-social a span {
	color: #374151;
}

.user-footer ul,
.container-policies ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.user-footer ul li,
.container-policies ul li {
	list-style: none;
}

.user-footer ul li a,
.container-policies ul li a {
	text-decoration: none;
	color: #4b5563;
}

.user-footer ul li a:hover,
.container-policies ul li a:hover {
	color: #000;
}

#overlay {
	background-color: #00000050;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	display: none;
}

@media (max-width: 998px) {
	.container {
		max-width: 740px;
	}

	.header {
		position: relative;
	}

	.menu-responsive {
		display: none;
		flex-direction: column;
		gap: 30px;
		background-color: #fff;
		position: absolute;
		top: 0;
		width: 70%;
		height: 100vh;
		z-index: 3;
	}

	.menu-responsive.active{
		display: flex;
	}

	.logo-responsive{
		padding: 24px 20px 0 20px;
	}

	.menu-responsive > p{
		padding: 0 20px;
		color: #0e0f0f;
		font-size: 14px;
	}

	.container-social-responsive {
		display: flex;
		gap: 15px;
		padding: 0 20px;
	}

	.container-social-responsive a {
		text-decoration: none;
		font-size: 30px;
	}

	.btn-close-responsive {
		position: absolute;
		top: 20px;
		right: 30px;
		font-size: 25px;
		cursor: pointer;
		color: #faf9f9;
	}

	.menu-responsive nav {
		padding: 20px 0;
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
	}

	.menu-nav-responsive {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 0 24px;
	}

	.menu-nav-responsive li {
		list-style: none;
	}

	.menu-nav-responsive li a {
		text-decoration: none;
		color: #a7a7a8;
		font-size: 14px;
		text-transform: uppercase;
	}

	.container-details-product {
		flex-direction: column;
	}

	.aside-details-product {
		order: 2;
	}

	.container-card-payment {
		order: 1;
	}

	.menu-hamburger {
		display: block;
		flex: 1;
		order: 1;
	}

	.logo {
		flex: 1;
		order: 2;
		text-align: center;
	}

	.carrito {
		flex: 1;
		order: 3;
		justify-content: right;
	}

	.header .menu-nav {
		display: none;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 500px;
	}

	.header {
		padding-left: 15px;
		padding-right: 15px;
	}

	.logo {
		flex: 2;
		font-size: 30px;
	}

	.grid-images {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 200px);
	}

	.image-1 {
		grid-column: 1/-1;
		grid-row: 1/3;
	}

	.image-2 {
		grid-column: 1/2;
		grid-row: 3/-1;
	}

	.image-3 {
		grid-column: 2/-1;
		grid-row: 3/4;
	}

	.image-4 {
		grid-column: 2/-1;
		grid-row: 4/-1;
	}

	.body-details-product .info-product .features-product {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 468px) {
	.grid-images {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 150px);
	}
	.container {
		max-width: 330px;
	}

	.header {
		align-items: center;
	}

	.logo {
		font-size: 24px;
	}

	.menu-responsive{
		width: 100%;
	}

	.card-payment {
		padding: 10px 15px;
		height: 650px;
	}

	.container-sizes {
		grid-template-columns: repeat(4, 1fr);
	}

	.btn-add-to-cart {
		font-size: 14px;
	}

	.footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 70px 1fr;
		align-items: center;
		gap: 30px;
	}

	.container-social {
		grid-column: 2/-1;
		grid-row: 1/2;
		flex-direction: row;
	}

	.container-social i {
		font-size: 20px;
	}

	.container-social span {
		display: none;
	}

	.container-review {
		max-width: 100%;
	}
}